.text{
  color:black;
  text-align: center;
  font-family:Gill Sans;
  
}
.scroll{
  background-color:#24FCAA;
  
  height:1000px;
  width:100%;
}
.text1{
  color:white;
  text-align: center;
  font-family:Gill Sans;
}
.scroll2{
  padding-left: 10px;
  box-shadow: 10px 10px  10px 10px #228d50;
  background-color: #10E284;
  font-family: Georgia;
  border: 1pxsolid black;;
  
  width:80%;
  margin-left:10%;
}